$main-white: #f3f3f3;
$main-gray: #c4c4c4;
$main-red: #D64513;
$shad-red-bright: #9E310B;
$shad-red: #430807;
$shad-black: #000000;
$dark-gray: #242424;
$main-blue: #1C4355;
$sup-blue: #5D8AAB;

$header-height: 120px;
$header-button-width: 15%;
$header-button-amount: 5;

body {
  margin: 0;
  padding: 0;
  background-color: #111111;
  height: 100vh;
}

.mainBlock {
  color: $main-gray;
  width: 60%;
  height: 50%;
  margin: auto;
  
  .nameInput {
    margin-top: 50px;
    height:50px;
    border-radius: 10px;
    border: 4px double red;

  }

  .chat {
    margin-top: 50px;
    height:1000px;

    .chatWin {
      height: 400px;
      border-radius: 20px 20px 0 0;
      border: 4px double red;
    }

    .chatInput {
      height:50px;
      border: 4px double red;
      border-radius: 0 0 20px 20px;
    }
  }
}